fastapi
uvicorn
langchain
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-core
langchain-groq
faiss-cpu
tiktoken
sentence-transformers
transformers
unstructured
pypdf
python-docx
pydantic
python-dotenv
torch
tensorflow
scikit-learn
xgboost
joblib
Pillow
pandas
numpy
keras
python-multipart